body{
    font-family: roboto; 
    color:#434455 ;
 }
 .link-header {
    color: #2e2f42;
 }
 .link-contact {
    color: #434455;
 }
.section-one {
    background-color: #2e2f42;
}
.section-one-text {
    color: #ffffff;
}
.button{
    background-color: #4d5ae5;
    color: #ffffff;
}
